################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eHesabim/.vs
/eHesabim/eHesabim.Core
/eHesabim/eHesabim.Core/StyleCop.Cache
/eHesabim/eHesabim.Data/bin/Debug
/eHesabim/eHesabim.Data/obj/Debug
/eHesabim/eHesabim.Data/StyleCop.Cache
/packages/Antlr.3.5.0.2
/packages/Autofac.4.6.0
/packages/Autofac.Mvc5.4.0.2
/packages/Autofac.WebApi2.4.0.1
/packages/AutoMapper.6.1.0
/packages/EntityFramework.6.1.3
/packages/Facebook.7.0.6
/packages/FluentValidationNA.1.2.16
/packages/Microsoft.AspNet.Mvc.5.2.3
/packages/Microsoft.AspNet.Razor.3.2.3
/packages/Microsoft.AspNet.Web.Optimization.1.1.3
/packages/Microsoft.AspNet.WebApi.Client.5.2.3
/packages/WindowsAzure.Storage.8.2.1
/packages/WebGrease.1.6.0
/packages/System.Spatial.5.8.2
/packages/System.Net.Requests.4.3.0
/packages/System.Linq.Queryable.4.3.0
/packages/System.Linq.Dynamic.Library.1.1.14
/packages/System.Dynamic.Runtime.4.3.0
/packages/System.ComponentModel.EventBasedAsync.4.3.0
/packages/StyleCop.MSBuild.5.0.0
/packages/OctoPack.3.6.1
/packages/NLog.4.4.11
/packages/Newtonsoft.Json.10.0.3
/packages/Microsoft.Web.Infrastructure.1.0.0.0
/packages/Microsoft.Data.Services.Client.5.8.2
/packages/Microsoft.Data.OData.5.8.2
/packages/Microsoft.Data.Edm.5.8.2
/packages/Microsoft.Azure.KeyVault.Core.2.0.4
/packages/Microsoft.AspNet.WebPages.3.2.3
/packages/Microsoft.AspNet.WebApi.Core.5.2.3
/eHesabim.v3.ncrunchsolution.user
/.vs/config
/eHesabim.Web.Task
/eHesabim.Web.Portal
/eHesabim.Tasks/obj/Debug
/eHesabim.Services/obj/Debug
/eHesabim.Framework/obj/Debug
/eHesabim.Data/obj/Debug
/eHesabim.Core/obj/Debug
/.vs/eHesabim/v14/.suo
/eHesabim.Services
/eHesabim.Framework
/eHesabim.Data
/eHesabim.Core
/eHesabim.Tasks/bin/Debug
/eHesabim.Tasks/StyleCop.Cache
/eHesabim.Console/bin/Debug
/eHesabim.Console/obj/Debug
/eHesabim.Console/StyleCop.Cache
/packages/NLog.4.4.12
/eHesabim.sln.DotSettings.user
